.choice1 ul li a{
    text-decoration: none;
    display: block;
}

.choice2 ul li a{
    text-decoration: none;
    display: block;
}

.choice3 ul li a{
    text-decoration: none;
    display: block;
}